@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600;800&display=swap');

.text-background{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#070000d5, #000000);
    color: white;
    width: 50vw;
    padding: 2%;
    border: 0.4vw solid white;
    text-align: justify;
    font-weight: 200;
    line-height: 130%;
}

.yellow{
    color: #FFCD44;
}

.bold{
    font-weight: 600;
}

.lista{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    margin-top: 3.5vw;
}